DATA_PATH=/app/data
LOG_PATH=/app/logs
IMAGE_PATH=/app/images
PYTHONPATH=/app/philips_medical
SERVER_API=http://39.99.129.97
PORT=4503
AZURE_ENDPOINT=<<<<AZURE_ENDPOINT>>>>
AZURE_KEY=<<<<AZURE_KEY>>>>
